@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Ubuntu+Condensed&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: muli;
}


.navbar{
  background-color: #fff !important;
}

.navbar-brand{
  font-size: 1.9 rem !important;
  color: rgb(139, 221, 7) !important;
  font-weight: bold !important;
  font-family: mulish !important;
}


.navbar a{
  font-size: 1 rem !important;
  text-decoration: none !important;
  font-family: mulish !important;
}

.navbar a:hover{
  color: mediumslateblue !important;
}

.menu_active{
  font-weight: bold;
  border-bottom: 1px solid gray;
}

@media (max-width: 991px) {
  .navbar-brand{
    font-size: 1.5rem !important;
  }
  .menu_active{
    font-size: bold !important;
    border-bottom: none !important;
  }
}


.maindiv h1{
  font-family: mulish;
  color: green;
  font-size: 1.9rem;
}

.imgdiv img{
  width: 100%;
  box-shadow: 1px 1px 10px 5px greenyellow;

}

.abtdiv h2{

  font-family: mulish;
  font-size: 1.5rem;
  text-decoration: underline;
}

.abtdiv h4{
  font-family: mulish;
  font-size: 1.1rem;
  font-weight: bold;
  color: tomato;
  padding-top: 15px;
}

.abtdiv h6{
  font-family: mulish;
  padding-top: 10px;
  text-align: "justify";
}

.abtimg .btn-outline-primary{
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}



.abtimg img{
  height: 50vh;
  width: 100%;
  border: 5px solid mediumspringgreen;
}

.formdiv{
  display: block;
  margin: auto;
}







@-webkit-keyframes slidbar {

  0% {
    transform: translateY(10px);
  }

  100%{
    transform: translateY(-10px);
  }
 
}

  
  


@keyframes slidbar {

  0% {
    transform: translateY(10px);
  }

  100%{
    transform: translateY(-10px);
  }
  
}

.headerr{
  font-family: mulish;
  font-size: 1.5rem;
}


.carddiv{
  display: flex;
  justify-content: center;
}

.carddiv input{
  height: 30px;
  width: 100px;
  border: 2px solid grey;
  text-align: center;
  font-size: 1rem;
}

.carddiv button{
  height: 28px;
  width: 40px;
  background-color: cornflowerblue;
  text-align: center;
  border: 2px solid cornflowerblue; 
  margin-right: 8px;
  margin-left: 8px;
}

.adddiv{
  display: flex;
  height: 30px;
  width: 110px;
  border: 1px solid cornflowerblue;
  margin: auto;
}

.adddiv h6{
  font-size: 0.8rem;
  text-align: center;
  color: cornflowerblue;
  padding-right: 9px;
  padding-top: 5px;
}

.adddiv button{
height: 28px;
width: 40px;
margin-right: 0px;
background-color: cornflowerblue;
border: 2px solid cornflowerblue;
}


